---
---

table {
   border-collapse: collapse;
}

table, td, th {
   border: 1px solid black;
}

header {
     width:150px;
     float:left;
     position:fixed;
     -webkit-font-smoothing:subpixel-antialiased;  100
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console,
		 Terminal, Consolas, Liberation Mono, DejaVu Sans Mono,
		 Courier New, monospace;
    color:#333;
    font: 10px;
}


@import "{{ site.theme }}";

