---
---

@import "{{ site.theme }}";


table {
   border-collapse: collapse;
}

// table, td, th {
//    border: 1px solid black;
// }

header {
     width:200px;
}

section {
  width:600px;
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console,
		 Terminal, Consolas, Liberation Mono, DejaVu Sans Mono,
		 Courier New, monospace;
    color:#333;
    font-size: 10px;
}
